./status-reader/lib
./status-reader/external
./status-reader/simple-server.js
./status-reader/.credentials.json
./status-reader/.credentials.json.jimmy
./status-reader/external/node-xmpp-client
./status-reader/output.txt
./learn-mongo/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
