extend template
block head
  title JIUODSJFIOSDJFOISDJFIOSDFJ
  block scripts
    script(src="../node_modules/socket.io/lib/socket.io.js")
    script(src="index.js")
    script
      alert('dsifosdjiofdsf');


block content
  p
    | #{line}
  p
    | Vivamus hendrerit arcu sed erat molestie
    | vehicula. Sed auctor neque eu tellus
    | rhoncus ut eleifend nibh porttitor. Ut in.

block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.
